.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.legend {
  position: absolute;
  right: -30px;
  bottom: -20px;
  z-index: 10;
}

@keyframes fadeIn {
    from { opacity: 0; }
}

.animate-flicker {
    animation: fadeIn 0.5s infinite alternate;
}


.policie-img-2,
.policie-img-1 {
  max-width: 250px;
}

.row-services,
.row-policies {
  justify-content: center;
}

#mainNav {
  padding: 0 !important;
}

.logo_911 {
  max-width: 200px !important;
  max-height: 100px !important;
}
.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}

.icon-medium
{
    height:22px;
	margin:0;
	padding:0;
}

#app-store {
  background-color: black !important;
}

.btn-app-store{
	color: white;
	position: relative;
	height: 60px;
	padding-left: 55px;
	padding-right: 20px;
}
.btn-app-store i{
	font-size: 40px;
	position: absolute;
	left: 10px;
}
.btn-app-store .small{
	display: block;
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 2px;
    margin-top: 5px;
}
.btn-app-store .big{
	display: block;
	text-align: left;
	font-size: 21px;
	line-height: 21px;
}

.big-btn{
padding: 10px 0px 11px 0px;
width: 215px;
margin-top:5px;
}

.big-btn i{
font-size: 65px;
margin-right: 0px !important;
}
.big-btn strong{
font-size: 25px;
text-shadow: 1px 2px 0px #34659B;
color: #fff;
line-height: 24px;
}
.big-btn .btn-text{
margin-top:6px;
}

.big-btn small{font-size: 75%;}

.android-btn{

width: 240px;
padding: 13px 17px 13px 0px;
background-color: #000;
border-color: #000;

}
.android-btn:hover{
background-color: #272727;
}

.android-btn i{
font-size: 55px;
}

.android-btn .btn-text{
margin-top: 0px;
}

.android-btn strong{
font-size: 25px;
text-shadow: none;
color: #fff;
line-height: 24px;
}
