.container {
    width: 75%;
    margin: 0 auto;
}

.form {
    display: inline-block;
    width: 40%;
    height: 500px;
    vertical-align: top;
}

.call {
    display: inline-block;
    width: 40%;
    border: 1px solid black;
    height: 500px;
}

